/* background-color:#99fdff;
 */

/* CSS HEX
--amaranth-purple: #a40e4cff;
--space-cadet: #2c2c54ff;
--maize-crayola: #e8c547ff;
--middle-grey: #93867fff;
--tiffany-blue: #17bebbff;

CSS HSL
--amaranth-purple: hsla(335, 84%, 35%, 1);
--space-cadet: hsla(240, 31%, 25%, 1);
--maize-crayola: hsla(47, 78%, 59%, 1);
--middle-grey: hsla(21, 8%, 54%, 1);
--tiffany-blue: hsla(179, 78%, 42%, 1);

SCSS HEX


SCSS HSL
$amaranth-purple: hsla(335, 84%, 35%, 1);
$space-cadet: hsla(240, 31%, 25%, 1);
$maize-crayola: hsla(47, 78%, 59%, 1);
$middle-grey: hsla(21, 8%, 54%, 1);
$tiffany-blue: hsla(179, 78%, 42%, 1);
/* 
SCSS RGB
$amaranth-purple: rgba(164, 14, 76, 1);
$space-cadet: rgba(44, 44, 84, 1);
$maize-crayola: rgba(232, 197, 71, 1);
$middle-grey: rgba(147, 134, 127, 1);
$tiffany-blue: rgba(23, 190, 187, 1);

/* SCSS Gradient */
/* $gradient-top: linear-gradient(0deg, #a40e4cff, #2c2c54ff, #e8c547ff, #93867fff, #17bebbff);
$gradient-right: linear-gradient(90deg, #a40e4cff, #2c2c54ff, #e8c547ff, #93867fff, #17bebbff);
$gradient-bottom: linear-gradient(180deg, #a40e4cff, #2c2c54ff, #e8c547ff, #93867fff, #17bebbff);
$gradient-left: linear-gradient(270deg, #a40e4cff, #2c2c54ff, #e8c547ff, #93867fff, #17bebbff);
$gradient-top-right: linear-gradient(45deg, #a40e4cff, #2c2c54ff, #e8c547ff, #93867fff, #17bebbff);
$gradient-bottom-right: linear-gradient(135deg, #a40e4cff, #2c2c54ff, #e8c547ff, #93867fff, #17bebbff);
$gradient-top-left: linear-gradient(225deg, #a40e4cff, #2c2c54ff, #e8c547ff, #93867fff, #17bebbff);
$gradient-bottom-left: linear-gradient(315deg, #a40e4cff, #2c2c54ff, #e8c547ff, #93867fff, #17bebbff);
$gradient-radial: radial-gradient(#a40e4cff, #2c2c54ff, #e8c547ff, #93867fff, #17bebbff); */ 

